*{
fong-family:roman;
box-sizing:border-box;
}

.topnav {
  background-color: white;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  border-bottom:2px solid orange;
}

.topnav a.active {
  border-bottom:2px solid orange;
}

.topnav .icon {
  display: none;
}

.profile a:hover {
  border:2px solid orange;
  border-radius:50%;
}

.profile{
float:right;
}

.profile img{
margin-top:-5px;
}

.flex{display:flex;}
    
.section1{
width:50%;
margin:80px;
display:block;
}

.section1 img{
border-radius:10%;
margin:5px 10px;
}

#current-img{
width:110%;
height:100%;
}

.imgs{width:110%; margin-right:30px;}

.imgs button{
width:150%;
height:100px;
margin:0 5px 0 0;
border-radius:10%;
}

#img1{
background-image:url('images/image-product-1.jpg');
background-position:center;
background-size:cover;
background-repeat:no-repeat;
inline:block;
border:none;
}

#img2{
background-image:url('images/image-product-2.jpg');
background-position:center;
background-size:cover;
background-repeat:no-repeat;
inline:block;
border:none;
}

#img3{
background-image:url('images/image-product-3.jpg');
background-position:center;
background-size:cover;
background-repeat:no-repeat;
inline:block;
border:none;
}

#img4{
background-image:url('images/image-product-4.jpg');
background-position:center;
background-size:cover;
background-repeat:no-repeat;
inline:block;
border:none;
}

.current{
opacity:0.5;
}
    
.section2{
width:50%;
margin:80px;
}

.company{color:orange; text-transform:uppercase;}

.section2 h1{font-size:30px;}

.about{color:gray; line-height:20px;}

.price{font-weight:bold; font-size:18px; margin-right:20px;}

.offer{background-color:linen; color:orange; padding:5px; font-weight:bold;}

.orig{color:#eeeeee; margin-top:-15px; margin-bottom:50px; text-decoration:line-through; font-weight:bold;}

.count{
width:100%;
display:flex;
justify-content:space-between;
margin-right:20px;
background-color:#eeeeee;
border-radius:10%;
}

.count svg{margin:8px 5px 0 5px;}
.count p{
margin-top:10px;
font-weight:bold;
color:orange;
font-size:22px;
}
.count button{border:none; background-color:#eeeeee;}

.cart{
text-align:center;
font-weight:bold;
padding-top:10px;
background-color:orange;
box-shadow:0 5px 5px 0 rgba(0,0,0,0.5);
border-radius:10%;
width:100%;
font-size:14px;
}

.cart a{ text-decoration:none; color:white;}

.cart:hover{ box-shadow:0 10px 10px 0 rgba(0,0,0,0.5); }

.cart svg{fill:white; fill-rule:nonezero; margin-right:5px;}

footer{ margin-top:50px; }
    
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
 
.flip button{display:none;}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }  
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .profile{ float:none; }
  .flex{display:block;}
  .section1{width:80%;}
  .section1 img{width:80%;}
  #current-img{margin:0 auto; width:90%;}
  .section2{width:80%;}
  .offer{width:10%;}
  .count{margin-bottom:20px;}
  .cart{padding-top:10px; padding-bottom:10px;}
  .imgs{display:none;}
  .flip{ width:90%; display:flex; justify-content:space-between;}
  .flip button{ 
    display:block;
    margin-top:10px;
    border-radius:50%;
    background-color:#eeeeee;
    border:none;
    width:50px;
    height:50px;
   }
  .flip button:hover{fill:orange;}
}