body{
margin:50px auto;
width:70%;
}

img{
width:200px;
height:200px;
}

.x{ float:right;}

#content{
display:flex;
}
.section1{
margin-right:50px;
}

.section2 p{color:gray; padding-top:20px;}

.total{font-weight:bold; color:black;}

.check{
width:40%;
margin:20px 35%;
padding:10px 0;
background-color:orange;
color:white;
border-radius:10%;
border:none;
box-shadow:0 0 5px 0 rgba(0,0,0,0.5);
}

.section3{
margin-left:100px;
padding-top:80px;
}